#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.planner-box {
  font-family: sans-serif;
  width: 30%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page-title {
  color: aliceblue;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.icon-1 {
  color: aquamarine;
  height: 30px;
  width: 30px;
}
.input-standard {
  width: 70%;
  padding: 15px;
  font-size: 15px;
  outline: none;
}
.input-standard:focus {
  border: 3px solid aquamarine;
}
.btn {
  border: none;
  cursor: pointer;
  width: 40%;
  padding: 10px;
  border-radius: 2rem;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: rgb(179, 179, 179);
  transition: 0.3s;
  font-weight: 550;
}
.btn-standard {
  width: 50%;
}
.btn-standard:hover {
  background-color: rgb(153, 153, 153);
  transition: 0.3s;
}
.planner-box select {
  width: 70%;
  padding: 10px;
  font-size: 15px;
  outline: none;
}
.planner-box select:focus {
  border: 3px solid aquamarine;
}
.btn-primary {
  width: 35%;
  font-size: 12px;
}
.btn-primary:hover {
  background-color: rgb(153, 153, 153);
  transition: 0.3s;
}
.map-box {
  width: 70%;
  height: 100%;
}
.x-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.inp-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-standard-mini {
  background-color: transparent;
  cursor: auto;
  position: absolute;
  top: -15px;
  right: 50px;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}
